root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
tab_width = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.{gradle.kts,gradle,xml}]
indent_size = 2

[{.classpath,.project}]
indent_style = tab
